@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo {
    align-items: center;
    background: #2e2633;
    /* z-index: 8; */
    background: #2e2633;
    /* display: inline-block; */
    /* outline: 1px solid red; */
    display:flex;
    justify-content: center;
    overflow: visible;
    /* position: -webkit-sticky; */
    /* position: sticky; */

}

* {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }
*::-webkit-scrollbar {
    width: 0; /* For Chrome, Safari, and Opera */
    }
body {
    background: #2e2633;
    height: 100vw;
    overflow: hidden;
    width: 100vw;
}
@-webkit-keyframes circle {
    0% {
        transform: scale(1);
        /* fill: red; */


    }

    50% {
        fill: crimson;
        transform: scale(1.2);

    }

    100% {
        fill: crimson;
        stroke: crimson;
        transform: scale(1);
    }
}

@keyframes circle {
    0% {
        transform: scale(1);
        /* fill: red; */

    }

    50% {
        fill: crimson;
        transform: scale(1.2);
    }

    100% {
        fill: crimson;
        stroke: crimson;
        transform: scale(1);
    }
}

/*             @keyframes lp {
    0% {
        opacity: 1;
    }

    50% {}

    100% {
        transform: translateY(50px);
        opacity: 0;
    }
}

@keyframes art {
    0% {
        opacity: 1;
    }

    50% {}

    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes artur {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;

    }

    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}

@keyframes lipskii {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;

    }

    100% {
        transform: translateY(-20px);
        opacity: 1;
    }
} */

* {
    color: rgb(232, 232, 232);
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    transition: all 1.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#art,
#lp,
#artur,
#lipskii {
    fill: #c2214f;
}

#circle {
    -webkit-animation: circle 2s cubic-bezier(0.85, 0, 0.15, 1) 0.6s infinite normal both;
            animation: circle 2s cubic-bezier(0.85, 0, 0.15, 1) 0.6s infinite normal both;
    fill: crimson;
    opacity: 0;
    stroke: #c2214f;
    stroke-width: 2px;
    transform-box: fill-box;
    transform-origin: center;
    transition: all 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

#lipskii,
#artur {
    opacity: 0;

}

#art {
    transition-delay: 0.15s;

    /* transform: translateX(-35px); */
}

#lp {
    transition-delay: 0.15s;
    /* transform: translateX(35px); */
}

.logo:hover #lp {
    opacity: 0;
    /* animation: lp 3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    transform: translateY(50px);
}

.logo:hover #art {
    opacity: 0;
    /* animation: art 3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    transform: translateY(-50px);
}

.logo:hover #lipskii {
    fill: rgb(242, 26, 69);
    opacity: 1;
    /* animation: lipskii 3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    transform: translateX(100px);
    transition-delay: 0.45s;
}

.logo:hover #artur {
    fill: rgb(247, 54, 92);
    opacity: 1;
    /* animation: artur 3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    transform: translateX(-100px);
    transition-delay: 0.45s;
}

.logo:hover #circle {
    opacity: 1;
    transform: scale(1.2);
    transform-box: fill-box;
    /* fill: red; */
    transform-origin: center;
    /* animation: jump 5s infinite linear; */
    transition: all 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition-delay: 1.15s;
    /* animation: circle 2s cubic-bezier(0.25, 1, 0.5, 1) 1s infinite normal both; */
}
.quickinfo {
    background-color: salmon;
    border: 2px solid green;
    left: 30vw;
    /* visibility: hidden; */
    opacity: 0;
    position: absolute;
    top:-150px;
    transition: all 1.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    width: 70vw;
    z-index: -1;
}

    header:hover .quickinfo {
    /* visibility: visible; */
    opacity: 1;
    transform: translateY(200px);
    transition: all 1.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
svg {
    box-sizing: border-box;
    height: 135px;
    overflow: visible;
    /* width: 640px; */
    scale: 1;

}
header {
    position: fixed;
    top:0;
    /* box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.29); */
    width: 100%;
    z-index: 8;
}
h2 {
    margin: 1rem 0;
}
aside {
    background: #2e2633;
    font-size: ;
    height: 40%;
    overflow: hidden;
    position:absolute;
    top:135px;
    width: 25vw;
    min-width: 275px;
    z-index: 4;
}

aside ul {
    display:flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 6px;
}

.nav {
    box-shadow: 0 6px 4px -4px #c2214f;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 4px;
    padding: 15px 0;
    transition: all 0.4s ease-in-out;
}
.nav::before { 
    content: '▫';
    margin-right: 0.8rem;
    padding-left: 3px;
}
.nav:hover::before { 
    content: '▪';
}

.nav:hover {
    box-shadow: 0 6px 4px -4px rgb(242, 26, 69);
    cursor: pointer;
    padding-left: 14px;

}
.mainbody {
    background: #6a5e72;
    border-radius: 15px;
    box-shadow: inset 4px 4px 6px 4px rgba(0, 0, 0, 0.29);
    height: calc(100vh - 115px);
    left: 25vw;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    top: 135px;
    width: 80vw;
    /* background-color: rgba(255, 255, 255, 0.169); */
    z-index:8;
}

.home, .mycontacts, .myprojects, .aboutme {
    height: 100%;
    overflow-y:scroll;
    padding: 0 6px 6px 20px;
    margin-bottom: 0px;
    position: absolute;
    top: 0;
    /* transform: translateX(1px); */
    transition-delay: 0.4s;
    width: 90%;
    z-index:9;
}
p {
    line-height: 1.5;
    max-width: 50ch;
}
.projwrapper {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
}
.hidden {
    /* display:none; */
    opacity:0;
    transform: translateX(-320px);
    transition-delay: 0s;
    z-index: -5;
}

.project__card {
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.29);
    box-sizing: border-box;
    display:flex;
    height: 200px;
    justify-content: center;
    margin: 0 0.9rem 0.9rem 0rem;
    position: relative;
    text-align: center;
    transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55);
    width: 360px;
}

.project__card:hover {
    cursor: pointer;
    scale: 1.05;
    transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55);
}

.project__card:hover .desc {
    opacity:1;
    transform: translateY(-10px);
    transition: all 1.0s cubic-bezier(0.68, 0.55, 0.265, 1.55);
    transition-delay: 0.4s;
}
.project__card:hover .project__title {
    opacity:1;
    height: 4rem;
    transition: all 0.5s cubic-bezier(0.68, 0.55, 0.265, 1.55);
}

a {
    text-decoration: none;
}

.project__title {
    background: #2e2633bb;
    border-radius: 6px;
    box-sizing: border-box;
    color: #d5d2d3;
    font-size: 1rem;
    height: 1.5rem;
    padding: 5px;
    width: 100%;
    overflow:hidden;

}
.desc {
    color:rgb(206, 205, 205);
    display: inline-block;
    font-size: 0.7rem;
    opacity:0;
    line-height:0.8rem;
    transition: all 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55);

}
.project__title:hover {
}

#calc {
    background-image: url(./img/calc.jpg);
}
/* #calc:hover::after {
    content: "saasdasd";
    position: absolute;
} */
#drums {
    background-image: url(./img/drums.jpg);
}
#simon {
    background-image: url(./img/simon.jpg);
}
#bulls {
    background-image: url(./img/bulls.jpg);
}
#nim {
    background-image: url(./img/nim.jpg);
}
#TinDog {
    background-image: url(./img/tindog.jpg);
}
#guess {
    background-image: url(./img/guess.jpg);
}
#rps {
    background-image: url(./img/rps.jpg);
}
#sketch {
    background-image: url(./img/sketch.jpg);
}
#hangman {
    background-image: url(./img/hangman.jpg);
}
.contacts {
    padding: 0;
}
.contact {
    padding: 0 0 12px 0;
    list-style-position: inside;
}

.contact::before {
    content: "-";
    opacity:0;
}

.contact:hover {
    text-decoration: underline;
}

@media all and (max-width:605px) {
    aside {
        position: relative;

        width: 100%;
        overflow: hidden;
    }
    .navig {
        /* font-size: 0.5rem; */
        /* flex-direction: row; */
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        /* height: 60px; */
    }
    .mainbody {
        left:0;
        width: 100%;
        height: calc(100vh - 185px);
    }
.projwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
}

@media all and (max-width:435px) {
    .project__card {
    width: 280px;
    }
    .logo {
        height: 70px;
    }
    header {
        height: 70px;
    }
    aside {
        top: 70px;
    }
    .mainbody {
        top:70px;
    }
    .project__title {
        font-size: 0.9rem;
        height: 40px;
        /* padding: 0; */
    }
    svg {
        height: 110px;
    }
    .nav {
        padding: 6px 0;
    }
}